a{
  text-decoration: none;
  color: whitesmoke;

}

a:hover

, a_active {
color: lightgray
}

.navigation-items
 {
   list-style-type: none;
   padding:0;
   margin:0;
 }

mat-toolbar{
   border-radius: 3px;
}

@media(max-witdth: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
